body {
    height: 100vh;
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
}

#main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

#singularity {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(200, 200, 255, 0.8);
    box-shadow: 0 0 10px 5px rgba(200, 210, 255, 0.9), 
                0 0 20px 8px rgba(200, 210, 255, 0.7), 
                0 0 30px 10px rgba(200, 210, 255, 0.5);
    animation: scintillement 2s infinite alternate;
}

@keyframes scintillement {
    0% {
        opacity: 1;
        box-shadow: 0 0 10px 5px rgba(200, 210, 255, 0.9), 
                    0 0 20px 8px rgba(200, 210, 255, 0.7), 
                    0 0 30px 10px rgba(200, 210, 255, 0.5);
    }
    50% {
        opacity: 0.8;
        box-shadow: 0 0 15px 7px rgba(200, 210, 255, 1), 
                    0 0 25px 10px rgba(200, 210, 255, 0.8), 
                    0 0 35px 15px rgba(200, 210, 255, 0.6);
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 10px 5px rgba(200, 210, 255, 0.9), 
                    0 0 20px 8px rgba(200, 210, 255, 0.7), 
                    0 0 30px 10px rgba(200, 210, 255, 0.5);
    }
}