body {
    height: 100vh;
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: #000110;
    font-family: "Josefin Sans", sans-serif;
    user-select: none;
}

* {
    overflow: hidden !important;
}

canvas {
    display: block;
}

#main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);
}

#singularity {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(200, 200, 255, 0.8);
    box-shadow: 0 0 10px 5px rgba(200, 210, 255, 0.9), 
                0 0 20px 8px rgba(200, 210, 255, 0.7), 
                0 0 30px 10px rgba(100, 110, 255, 0.5);
    animation: scintillement 2s infinite alternate;
}

@keyframes scintillement {
    0% {
        opacity: 1;
        box-shadow: 0 0 10px 5px rgba(200, 210, 255, 0.9), 
                    0 0 20px 8px rgba(200, 210, 255, 0.7), 
                    0 0 30px 10px rgba(100, 110, 255, 0.5);
    }
    50% {
        opacity: 0.8;
        box-shadow: 0 0 15px 7px rgba(200, 210, 255, 1), 
                    0 0 25px 10px rgba(200, 210, 255, 0.8), 
                    0 0 30px 10px rgba(100, 110, 255, 0.6);
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 10px 5px rgba(200, 210, 255, 0.9), 
                    0 0 20px 8px rgba(200, 210, 255, 0.7), 
                    0 0 30px 10px rgba(100, 110, 255, 0.5);
    }
}

/* Text */
.text-container {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Play", sans-serif;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container * {
    display: inline-block;
}

a {
    text-decoration: none !important;
}

#final-text-container {
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    background: linear-gradient(to right, #0f0c2900, #302b6300, #24243e00);
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
    overflow: visible !important;
}

#final-text-container * {
    display: none;
}

#final-text {
    letter-spacing: 15px;
    font-size: 52px;
}

@media screen and (max-width: 926px) {
    #final-text {
        letter-spacing: 5px;
        font-size: 48px;
    }
}

/* Button */
#final-button {
    overflow: visible !important;
}

#button-container {
    position: fixed;
    top: 2%;
    right: 2%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    animation: appearAnimation 10s forwards;
}

@keyframes appearAnimation {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    12% {
        transform: translateX(0);
        opacity: 1;
    }
    20%, 30% {
        transform: translateX(0);
        opacity: 1;
    }
    25%, 35% {
        transform: translateX(0);
        opacity: 0.4;
    }
    40%, 80% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

#skip-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    border: none;
    position: relative;
    font-size: 14px;
    background: linear-gradient(to right, #190d8c30, #5f159c40, #3e242430);
    border-radius: 2px;
    backdrop-filter: blur(10px);
}
#cta-button {
    padding: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3.2rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 2px transparent !important;
    background-image: linear-gradient(#000116, #000116),
        linear-gradient(
        137.48deg,
        #1b4fde 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
        );
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#cta-button:hover {
    transform: scale(1.08) !important;
}

#cta-button:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#cta-button:hover {
    box-shadow: 0 0 20px rgba(95, 21, 156, 1), 0 0 40px rgba(95, 21, 156, 0.2);
    transform: scale(1.05);
    animation: unset;
}
@keyframes blinking {
  0%, 20%, 40%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(1.04);
  }
}
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
    transition: left 0.5s ease-in-out;
}

button:hover::before {
    left: 100%;
}

button svg:not(.svg-inline--fa) {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button .svg-inline--fa {
    font-size: 12px;
    margin-left: 5px;
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg:not(.svg-inline--fa) {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}

/* Icon */
.fa-star:nth-child(1) {
  color: #7878ff;
  filter: blur(0.8px);
  font-size: 14px;
  animation: reflexion-left 2s infinite;
  transform: translateY(-8px);
}
.fa-star:nth-child(2) {
  color: #dd93ed;
  filter: blur(0.9px);
  font-size: 14px;
  animation: reflexion-right 2s infinite;
  transform: translateY(-8px);
}
@keyframes reflexion-left {
  0% {
    transform: translateY(-8px) (0deg) scale(1);
  }
  50% {
    transform: translateY(-8px) rotate(-10deg) scale(1.1);
  }
  100% {
    transform: translateY(-8px) rotate(0deg) scale(1);
  }
}
@keyframes reflexion-right {
  0% {
    transform: translateY(-8px) rotate(0deg) scale(1);
  }
  50% {
    transform: translateY(-8px) rotate(10deg) scale(1.1);
  }
  100% {
    transform: translateY(-8px) rotate(0deg) scale(1);
  }
}
/* Planet */
#planet {
    border: solid #000116 1px;
    width: 190vw;
    min-width: 800px;
    height: 100vh;
    position: fixed;
    top: 80%;
    left: -50%;
    border-radius: 50%;
    background-color: #000116;
    border-color: #5b51ea50;
    box-shadow: 0 0 60px 10px #451bde90,
                0 0 100px 20px #451bde50,
                0 0 140px 30px #451bde20,
                inset 0 0 50px 2px #451bde90,
                inset 0 0 80px 3px #5b51ea50,
                inset 0 0 120px 4px #7253fe10;
    overflow: hidden;
    opacity: 0;
}

/* Stars */
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    filter: blur(1px);
}

@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}

section span{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #93dcf0;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(100,100,255,0.1),0 0 0 8px rgba(100,100,255,0.1),0 0 20px rgba(100,100,255,0.1);
    animation: shoot 3s linear infinite;
    overflow: visible !important;
}
section span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 1px;
    background: linear-gradient(90deg,#93dcf0,transparent);
}
@keyframes shoot {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        transform: rotate(6deg) translateX(0);
        opacity: 1;
    }
    100% {
        transform: rotate(-4deg) translateX(-2200px);
        opacity: 0.4;
    }
}