/*----------------------------------------*/
/* Font Import                            */
/*----------------------------------------*/
@font-face {
    font-family: 'good-timing';
    src: url('../fonts/good-timing/good\ timing\ bd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'electrolize';
    src: url('../fonts/electrolize/Electrolize-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'audiowide';
    src: url('../fonts/audiowide/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/*----------------------------------------*/
/* Base CSS
/*----------------------------------------*/
body {
    height: 100vh;
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: #000110;
    user-select: none;
}

html:has( .launch) * {
    cursor: none !important;
}

* {
    overflow: hidden !important;
}

canvas {
    display: block;
}

/*----------------------------------------*/
/* Layout & Containers                    */
/*----------------------------------------*/
#main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);
}

#final-text-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0f0c2900, #302b6300, #24243e00);
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
    overflow: visible !important;
}

#final-text-container * {
    display: none;
}

#main hr, hr {
    border-bottom: 1px solid #a0a0ff30;
    width: 80%;
    max-width: 40rem;
    margin-bottom: 40px;
}

/*----------------------------------------*/
/* Text Styles                            */
/*----------------------------------------*/
.text-container {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "electrolize", sans-serif;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container * {
    display: inline-block;
}

#final-text {
    letter-spacing: 15px;
    font-size: 50px;
    transform: scaleY(1.1); 
    margin-bottom: 20px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: 'good-timing';
}

.welcome {
    font-weight: lighter;
}

#description-text {
    margin-bottom: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    width: 80%;
    max-width: 40rem;
    line-height: 28px;
    font-family: "electrolize", sans-serif;
}

.universe-text {
    text-transform: uppercase;
    font-size: 94px;
    display: inline-block;
    background: 
    linear-gradient(
      137.48deg,
      #1b4fde 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 200%;
    animation: gradient_301 5s ease infinite;
}

@media screen and (max-width: 750px) {
    #final-text-container {
        top: 50%;
    }

    #final-text {
        letter-spacing: 5px;
        font-size: 24px;
    }
    .universe-text {
        font-size: 45px;
    }
}

/*----------------------------------------*/
/* Button Styles                          */
/*----------------------------------------*/
#final-button {
    overflow: visible !important;
}

#button-container {
    position: fixed;
    top: 2%;
    right: 2%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    animation: appearAnimation 10s forwards;
}

#skip-button {
    padding: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    overflow: hidden;
    height: 2.5rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 2px transparent !important;
    background-image: linear-gradient(#000116, #000116),
        linear-gradient(
        137.48deg,
        #1b4fde 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
        );
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 14px;
}

#cta-button {
    padding: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3.5rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 2px transparent !important;
    background-image: linear-gradient(#000116, #000116),
        linear-gradient(
        137.48deg,
        #1b4fde 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
        );
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#cta-button:hover {
    transform: scale(1.08) !important;
}

#cta-button:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

#cta-button:hover {
    box-shadow: 0 0 20px rgba(95, 21, 156, 1), 0 0 40px rgba(95, 21, 156, 0.2);
    transform: scale(1.05);
    animation: unset;
}

a {
    text-decoration: none !important;
}

#stretch {
    font-weight: normal;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
    transition: left 0.5s ease-in-out;
}

button {
    font-family: 'audiowide';
}

button:hover::before {
    left: 100%;
}

button img {
  margin-right: 5px;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  height: 30px;
}

button .svg-inline--fa {
    font-size: 12px;
    margin-left: 5px;
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover img {
  transform: translateY(5px) rotate(45deg);
}

button:hover span {
  transform: translateX(7px);
}

/*----------------------------------------*/
/* Animations & Keyframes                 */
/*----------------------------------------*/
@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fade-up {
    animation: fadeUp 1s forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-down {
    animation: fadeDown 1s forwards;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-50px) scaleY(1.1);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scaleY(1.1);
    }
}

@keyframes appearAnimation {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    12% {
        transform: translateX(0);
        opacity: 1;
    }
    20%, 30% {
        transform: translateX(0);
        opacity: 1;
    }
    25%, 35% {
        transform: translateX(0);
        opacity: 0.4;
    }
    40%, 80% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/*----------------------------------------*/
/* Special Effects                        */
/*----------------------------------------*/
#singularity {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(200, 200, 255, 0.8);
    box-shadow: 0 0 10px 5px rgba(200, 210, 255, 0.9), 
                0 0 20px 8px rgba(200, 210, 255, 0.7), 
                0 0 30px 10px rgba(100, 110, 255, 0.5);
    animation: twinkle 2s infinite alternate;
}

model-viewer {
    z-index: 1;
    position: absolute;
    bottom: -4rem;
    left: 45%;
    width: 80%;
    height: 40rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    transform: scale(0);
    transition: all 1s ease-in-out;
}

@keyframes twinkle {
    0% {
        opacity: 1;
        box-shadow: 0 0 10px 5px rgba(200, 210, 255, 0.9), 
                    0 0 20px 8px rgba(200, 210, 255, 0.7), 
                    0 0 30px 10px rgba(100, 110, 255, 0.5);
    }
    50% {
        opacity: 0.8;
        box-shadow: 0 0 15px 7px rgba(200, 210, 255, 1), 
                    0 0 25px 10px rgba(200, 210, 255, 0.8), 
                    0 0 30px 10px rgba(100, 110, 255, 0.6);
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 10px 5px rgba(200, 210, 255, 0.9), 
                    0 0 20px 8px rgba(200, 210, 255, 0.7), 
                    0 0 30px 10px rgba(100, 110, 255, 0.5);
    }
}

.launch img {
    position: relative;
    transition: all 0.8s;
    animation: launch 4s forwards;
    z-index: 999;
}

@keyframes launch {
    0% {
        transform: rotate(45deg);
    }
    20%, 22%, 24%, 26%, 28%, 30% {
        top: 3%;
    }
    21%, 23%, 25%, 27%, 29% {
        top: 4%;
    }
    100% {
        transform: rotate(45deg);
        top: -80vh;
    }
}

.trace {
    position: absolute;
    width: 4px;
    height: 4px;
    z-index: 5;
    background-color: #0044ff;
    border-radius: 50%;
    box-shadow: 0 0 10px #0044ff, 0 0 20px #0044ff, 0 0 30px #0044ff;
    pointer-events: none;
    animation: fadeOut 1s forwards;
}

.wrapper {
    display: none;
}

/*----------------------------------------*/
/* Stars                                  */
/*----------------------------------------*/
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
section span{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background: #0044ff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(100, 100, 255, 0.1), 0 0 0 2px rgba(100, 100, 255, 0.1), 0 0 5px rgba(100, 100, 255, 1)  ;
    overflow: visible !important;
    filter: blur(1px);
    transform: rotate(315deg) translateY(-20px) translateX(50px);
    animation:  shoot 3s linear infinite;
}
section span::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 1px;
    background: linear-gradient(90deg, #adc0f580, transparent);
}
@keyframes shoot {
    0%
    {
        transform: rotate(345deg) translateY(-20px) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 0.2;

    }
    100%
    {
        transform: rotate(345deg) translateX(-1500px);
        opacity: 0;

    }
    
}
section span:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

section span:nth-child(2){
    top: 20px;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}

section span:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}

section span:nth-child(4){
    top: 20px;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

section span:nth-child(5){
    top: 20px;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

section span:nth-child(6){
    top: 20px;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}
section span:nth-child(7 ){
    top: 300px;
    right: 0px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 1.75s;
}

section span:nth-child(8){
    top: 20px;
    right: 700px;
    left:initial;
    animation-delay:1.4s ;
    animation-duration: 1.25s;
}

section span:nth-child(9){
    top: 20px;
    right: 1000px;
    left:initial;
    animation-delay:0.75s ;
    animation-duration: 2.25s;
}

section span:nth-child(10){
    top: 20px;
    right: 1200px;
    left:initial;
    animation-delay:2.75s ;
    animation-duration: 2.25s;
}